@{
    ViewData["Title"] = "Consulta de Propietarios de un Predio";
}
@model IEnumerable<SV.Models.MultiOwner>


<div class="container">
    <h1>@ViewData["Title"]</h1>
    <form asp-action="MultiOwnerQuery" asp-controller="Home" method="get">
        <div class="form-group row">
            <input type="hidden" id="selectedYear" name="electedYear" value="@ViewData["CurrentYear"]">
            <input type="hidden" id="selectedYear" name="electedYear" value="@ViewData["CurrentCommune"]">
            <div class="col-sm-10">
                <label>Comuna </label>
                <input type="text" name="Commune" list="List" placeholder="Select..">
                <datalist id="List" name="Commune" value="@ViewData["CurrentCommune"]" >
                    @{
                        int counterOfCommunes = 0;
                        @foreach (var commune in ViewBag.Communes)
                        {
                            if (counterOfCommunes == 0)
                            {
                                if (ViewData["CurrentCommune"] != "")
                                {
                                    <option selected="selected" value="@ViewData["CurrentCommune"]">@ViewData["CurrentCommune"]</option>
                                    <option value="@commune.Name">@commune.Name</option>
                                }
                                else
                                {
                                    <option selected="selected" value="@ViewData["CurrentCommune"]">@commune.Name</option>
                                }
                                counterOfCommunes += 1;
                            }
                            else
                            {
                                <option>@commune.Name</option>
                            }

                        }
                    }
                </datalist>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="block" name="block" value="@ViewData["CurrentBlock"]" placeholder="Manzana">
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="property" name="property" value="@ViewData["CurrentProperty"]" placeholder="Predio">
            </div>
        </div>
        <div class="form-group">
            <label for="year">Año:</label>
            <select class="form-control" id="year" name="year"></select>
        </div>
        <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary" id="submitBtn" style="margin-right:10px">Enviar</button>
            <button type="button" class="btn btn-primary btn-danger" id="eraseFilterBtn">Borrar</button>
        </div>
    </form>
</div>
    
@{
    if (Model != null)
    {
        if (Model.Count() == 0)
        {
            <p class="table">No hay registros para este rol en el período señalado</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            RUT
                        </th>
                        <th>
                            % de Derecho
                        </th>
                        <th>
                            Fojas
                        </th>
                        <th>
                            Nº de Inscripción
                        </th>
                        <th>
                            Año
                        </th>
                        <th>
                            Fecha de Inscripción
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)

                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rut)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OwnershipPercentage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sheets)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InscriptionNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ValidityYearBegin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InscriptionDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
             }   
        }  
    }
      





<script src="~/js/multiowner.js" asp-append-version="true"></script>
