@model SV.Models.expandedDetailsOfForms

@{
    ViewData["Title"] = "Detalles";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Formulario de Bienes Raíces  |  N° de Atención: @Html.DisplayFor(model => model.RealStateForm.AttentionNumber)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            CNE
        </dt>
        <dd class="col-sm-10" id="natureOfTheDeed">
            @Html.DisplayFor(model => model.RealStateForm.NatureOfTheDeed)
        </dd>
        <dt class = "col-sm-2">
           Comuna
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealStateForm.Commune)
        </dd>
        <dt class = "col-sm-2">
            Manzana
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealStateForm.Block)
        </dd>
        <dt class = "col-sm-2">
            Predio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealStateForm.Property)
        </dd>
        <dt class = "col-sm-2">
            Fojas
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealStateForm.Sheets)
        </dd>
        <dt class = "col-sm-2">
            Fecha Inscripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealStateForm.InscriptionDate)
        </dd>
        <dt class = "col-sm-2">
            Número Inscripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealStateForm.InscriptionNumber)
        </dd>
    </dl>
</div>
<div class="sellers">
    <h5>Enajenante(s) o Causante(s)</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    RUT
                </th>
                <th>
                    % de Derecho
                </th>
                <th>
                    % de Derecho no Acreditado
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Sellers)

                {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.Rut)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.OwnershipPercentage)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.UncreditedOwnership)
                </td>
            </tr>
                }
        </tbody>
    </table>
</div>
<div>
    <h5>Adquiriente(s) o Heredero(s)</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    RUT
                </th>
                <th>
                    % de Derecho
                </th>
                <th>
                    % de Derecho no Acreditado
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Buyers)

                {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.Rut)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.OwnershipPercentage)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.UncreditedOwnership)
                </td>
            </tr>
                }
        </tbody>
    </table>
</div>
<div>

    <a asp-action="Index">Volver a Formularios</a>
</div>

<script src="~/js/formDetails.js" asp-append-version="true"></script>
