@model IEnumerable<SV.Models.RealStateForm>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Número de Atención
            </th>
            <th>
                CNE
            </th>
            <th>
                Comuna
            </th>
            <th>
                Manzana
            </th>
            <th>
                Predio
            </th>
            <th>
                Fojas
            </th>
            <th>
                Fecha de Inscripción
            </th>
            <th>
                Número de Inscripción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttentionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NatureOfTheDeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commune)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Block)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sheets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscriptionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscriptionNumber)
            </td>
            <td>
       
                <a asp-action="Details" asp-route-id="@item.AttentionNumber">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.AttentionNumber">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
